<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="easterndroids.xperience">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />

    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:largeHeap="true"
        android:icon="@mipmap/xp2"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashScreen"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
        <activity
            android:name=".SignupActivity"
            android:launchMode="singleTask" />
        <activity
            android:name=".XperienceActivity"
            android:label="Create Xperience"
            android:launchMode="singleTask"
            android:parentActivityName=".SignupActivity"
            android:theme="@style/AppTheme.NoActionBar">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="easterndroids.xperience.SignupActivity" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
            </intent-filter>
        </activity>
    <activity
        android:name=".SearchActivity"
        android:label="Use Xperience"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

            <!--<category android:name="android.intent.category.LAUNCHER" />-->
        </intent-filter>
    </activity>
<!--
    <activity
    android:name=".GridViewAdapter"
    android:label="@string/title_activity_grid_view_adapter"
    android:theme="@style/AppTheme.NoActionBar" />
-->
    <activity
        android:name=".UserGalleryActivity"
        android:label="Xperience Gallery"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.NoActionBar" />
    <activity android:name=".gridview_item" />
    <activity android:name=".ViewImage" />

    <provider
        android:name=".MyFileContentProvider"
        android:authorities="easterndroids.xperience.android.fileprovider"
        android:enabled="true"
        android:exported="true" />

    <activity
        android:name=".AddTags"
        android:label="Tag Experience"
        android:launchMode="singleTask"
        android:theme="@style/AppTheme.NoActionBar">
        <intent-filter>
            <action android:name="android.intent.action.MAIN" />

        <!--<category android:name="android.intent.category.LAUNCHER" />-->
    </intent-filter>
</activity>
<!--
     The API key for Google Maps-based APIs is defined as a string resource.
     (See the file "res/values/google_maps_api.xml").
     Note that the API key is linked to the encryption key used to sign the APK.
     You need a different API key for each encryption key, including the release key that is used to
     sign the APK for publishing.
     You can define the keys for the debug and release targets in src/debug/ and src/release/.
-->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="Xperience Location"></activity>
    </application>

</manifest>